dnspython<2.0.0,>=1.15.0
eventlet==0.28.0
Flask==1.1.1
Flask-Session==0.3.2
Flask-SocketIO==4.3.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet>=0.3
gunicorn==18.0.0
six>=1.10.0
monotonic>=1.4
Jinja2==2.11.1
pipenv==2020.6.2
psycopg2==2.8.5
urllib3==1.25.8
virtualenv==20.0.27
virtualenv-clone==0.5.4
Werkzeug==1.0.0
