Flask==1.1.1
Flask-Session==0.3.2
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.4.3
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==20.0.4
urllib3==1.25.8
virtualenv==20.0.27
virtualenv-clone==0.5.4
Werkzeug==1.0.0
widgetsnbextension==3.5.1
